.AboutModal {
  font-family: Lato;
  position: relative;
  box-sizing: border-box;
  background-color: #F70F0F;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 5px 15px #212121;
  justify-content: space-between;
  margin: 0 auto;
  height: 400px;
  width: 100%;
  max-width: 400px;
  padding: 40px;
  outline: none;
  background: white;
  text-align: center;
  &> * {
    flex: 1;
  }
  &.mobile {
    padding: 40px 20px;
  }
}