.Row {
  overflow: hidden;
  margin: 0 auto;
}

.rowButton {
  display: inline;
  visibility: hidden;
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0px;
  background: #212121;
  border-radius: 10px;
  color: white;
  font-family: Helvetica;
  font-weight: 500px;
  font-size: 20px;
  line-height: 200px;
  user-select: none;
  &.add {
    left: 800px;
  }

  &.subtract {
    left: -40px;
  }

  &.long {
    width: 800px;
    height: 40px;
    left: 0px;
    line-height: 40px;
    display: block;
    &.add {
      top: 800px;
      display: none;
    }

    &.subtract {
      top: -40px;
    }
  }
}

.RowOuter {
  position: relative;
}

.RowOuter:hover .rowButton, .Board:hover .rowButton.long {
  visibility: visible;
  display: block;
  cursor: pointer;
}