.Row {
  overflow: hidden;
  margin: 0 auto;
}

.rowButton {
  display: inline;
  visibility: hidden;
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0px;
  background: #212121;
  border-radius: 10px;
  color: white;
  font-family: Helvetica;
  font-weight: 500px;
  font-size: 20px;
  line-height: 200px;
  user-select: none;
  &:hover {
    border: white 1px solid;
    color: white;
  }
  &.add {
    left: 800px;
    border-radius: 0px 10px 10px 0px;
    &.long{
      top: 805px;
      display: none;
      border-radius: 0px 0px 10px 10px;
    }
  }

  &.subtract {
    left: -40px;
    border-radius: 10px 0px 0px 10px;
    &.long{
      top: -45px;
      border-radius: 10px 10px 0px 0px;
    }
  }

  &.long {
    width: 810px;
    height: 40px;
    left: -5px;
    line-height: 40px;
    display: block;
  }
}

.RowOuter {
  position: relative;
}

.RowOuter:hover .rowButton, .Board:hover .rowButton.long {
  visibility: visible;
  display: block;
  cursor: pointer;
}