.RowOuter {
  /*width: 100%;*/
  position: relative;
}

.Row {
  overflow: hidden;
  /*width: 100%;*/
  margin: 0 auto;
}

.rowButton {
  display: inline;
  visibility: hidden;
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0px;
  background: #212121;
  border-radius: 10px;
  color: white;
  font-family: Helvetica;
  font-weight: 500px;
  font-size: 20px;
  line-height: 200px;
  user-select: none;
}

.rowButton.add {
  left: 800px;
}

.rowButton.subtract {
  left: -40px;
}

.rowButton.long {
  width: 800px;
  height: 40px;
  left: 0px;
  line-height: 40px;
  display: block;
}
.rowButton.long.add {
  /*position: relative;*/
  top: 800px;
  display: none;
}

.rowButton.long.subtract {
  top: -40px;
}

.RowOuter:hover .rowButton, .Board:hover .rowButton.long {
  visibility: visible;
  display: block;
  cursor: pointer;
}