.Row {
  overflow: hidden;
  margin: 0 auto;
  flex: 1;
  background: #212121;
  border-left: 5px solid #212121;
  border-right: 5px solid #212121;
}

.RowOuter {
  display: flex;
  width: 100%;
}

.longButtonOuter {
  width: 100%;
}

.rowButton {
  opacity: 0;
  width: 40px;
  height: 100%;
  background: #212121;
  border-radius: 10px;
  color: white;
  font-family: Helvetica;
  font-weight: 500px;
  font-size: 20px;
  line-height: 200px;
  user-select: none;
  color: white;
  &.add {
    border-radius: 0px 10px 10px 0px;
    &.long{
      border-radius: 0px 0px 10px 10px;
    }
  }
  &.subtract {
    border-radius: 10px 0px 0px 10px;
    &.long{
      border-radius: 10px 10px 0px 0px;
    }
  }
  &.long {
    width: initial;
    margin: 0 40px 0 40px;

    display: block;
    height: 40px;
    line-height: 40px;
  }
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}