.Tile {
  height: 100%;
  box-sizing: border-box;
  float:left;
  // border: 5px solid #212121;
  // @media (max-width: 600px) {
  //   border: 3px solid #212121;
  // }
}

.TileFlasher {
  height: 100%;
  &.playing {
    animation-name: tileFlash;
    animation-duration: 1s;
  }
}

@keyframes tileFlash {
  0%   {background-color: rgba(255, 255, 255, 0.5); }
  100% {background-color: rgba(255, 255, 255, 0); }
}
